.div-TB{
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 100%;
}
table{
    padding: 5px;
    align-self: center;
    text-align: center;
    width: 75%;
    height: 70%;
    border: 2px blue;
    border-style: solid;
    background-color: burlywood;
}
tr{
    border-top: darkblue 3px;
    border-style: solid;
    padding: 2px;
}
tr td{
    color: black;
    grid-template-columns: 1px;
    grid-column: auto;
}